<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>attendanceSystem</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.studentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>teacherServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.teacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.managerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>courseServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.courseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>classServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.classServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>attendanceServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.attendanceServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>specialityServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.specialityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>departmentServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.departmentServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/servlet/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>teacherServlet</servlet-name>
    <url-pattern>/servlet/teacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/servlet/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>courseServlet</servlet-name>
    <url-pattern>/servlet/courseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>attendanceServlet</servlet-name>
    <url-pattern>/servlet/attendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>classServlet</servlet-name>
    <url-pattern>/servlet/classServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>specialityServlet</servlet-name>
    <url-pattern>/servlet/specialityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>departmentServlet</servlet-name>
    <url-pattern>/servlet/departmentServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>